body {
  margin: 20px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F4E3;
}

button, .button {
  background-color: #D0DB97;
  color: black;
  font-size: 13px !important;
  font-weight: 600 !important;
  margin: 9px 0 !important;
  padding: 3px 6px 3px 6px !important;
}

button:hover {
  background-color: #E9EECF;
  color: gray;
}

input {
  background-color: #FDFDF9;
  font-size: 14px !important;
  font-weight: 400 !important;
  margin: 3px !important;
}

.App {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.nav {
  border-bottom: 3px solid #D0DB97;
}

.navLinks {
	display: inline;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: black;
	margin-left: 20px;
	margin-right: 20px;
}

.profileListItems {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  text-decoration: none;
  color: black;
}
.profileListItems:hover {
  color: gray;
}


.footer {
	position: absolute;
	bottom: 20px;
	max-width: 800px;
	font-size: 14px;
	font-weight: 600;

}

.logoType {
	font-family: 'Londrina Solid', cursive;
	font-size: 60px;
	margin-right: 20px;
	color: #550C18;
}

@media only screen and (max-width: 600px) {
  .App {
  	margin-top: 10px;
  	max-width: 90%;
  	font-size: .9rem;  
  }
  .logoType {
  	display: block;
  	font-size: 30px;
  	margin-bottom: 10px;
  }

  .navLinks {
  	margin-left: 0;
  }
}
